header {
  padding: 20px 0;
  background-color: rgb(186, 234, 255);
}
body{
    background-color: lightcoral;
}
#Picture {
  margin: 0 0 20px;
  text-align: center;
}
#Picture img {
  width: 100%;
  max-width: 250px;
  height: auto;
  display: block;
  margin: 0 auto;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0;
}
h2 {
font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin: 20;
}
body{
    font-family: "Roboto", sans-serif;
}