header {
  padding: 20px 0;
  background-color: lightblue;
}

header .row{
  display: flex;
  align-items: center;
}

header h1 {
  font-family: "Open Sans";  
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}
.jumbotron {
  display: flex;
  align-items: center;
  height: 400px;
  background-color:rgb(61, 51, 51) !important; 
}

.jumbotron h2 {
font-family: "Open Sans";  
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  font-family: "Open Sans";    
  margin: 0 0 20px;
  color: #fff;
}

header p {
  padding: 0 20px;
  margin: 0;
}
ul {
    color: #fff;
    list-style-position: inside;
}
section .row img {
  margin: 0 0 20px;
  width: 100%;
}

.col-md-4 {
  margin: 0 0 20px;
}